alembic
annotated-types
anyio
asyncpg
bcrypt==3.2.2
bleach
certifi
cffi
click
colorama
cryptography
databases
dnspython
ecdsa
email-validator
fastapi>=0.100.0
fastapi-cli
fastapi-cloud-cli
fastapi-events
fastapi-mail
greenlet
google-cloud-storage
gunicorn>=21.0.0
h11
httpcore
httptools
httpx
idna
jinja2
mako
markdown-it-py
markupsafe
matplotlib
mdurl
openpyxl
passlib==1.7.4
# psycopg
psycopg-binary
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic-core
pydantic-settings
pygments
python-dateutil
python-dotenv
python-jose
python-magic
python-multipart
pyyaml
reportlab
rich
rich-toolkit
rignore
rsa
sentry-sdk
shellingham
six
sniffio
sqlalchemy
starlette
typer
typing-extensions
typing-inspection
tzdata
urllib3
uvicorn[standard]>=0.20.0
watchfiles
websockets
